.nav {
  background-color: #074582 !important;
}

.nav-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 25px !important;
  color: white !important;
}

.nav-item-text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white !important;
}

.active-item {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white !important;
}

.search-button {
  font-family: "Poppins", sans-serif;
  background-color: #1e90ff;
  border: 2px solid white;
  color: white;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 19px;
}

.search-button:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.greeting {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  display: inline;
}
