.profile-title{

}

.divide-line{
    background-color: lightgrey;
    height:2px;
    display:none;
}

@media(max-width: 768px){
    .profile-title{
        align-self: center;
    }

    .divide-line{
        display:block;
        margin-top: 30px;
    }
}